{% for check in permission_checks %}
    <div class="permission-check" title="{% if check.resolve %}This part returned TRUE{% else %}This part returned FALSE{% endif %}">
        <span class="resolve {% if check.resolve %}success{% else %}fail{% endif %}"></span>
        <span class="permissions">{{ check.permissions | json_encode }}</span>
    </div>
{% endfor %}
